.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: rgb(155, 155, 155) 2px solid;
    border-radius: 0.5rem;
    padding: 12px;
  }
  
  .showDetail p,
  .showTotal h4 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0.3rem 0;
  }
  
  .price {
    color: grey;
    margin-left: 3rem; 
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: rgb(155, 155, 155);
    margin: 0.5rem 0;
  }