.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: rgb(155, 155, 155) 2px solid;
  border-radius: 0.5rem;
  width: 12vw;
  padding: 8px;
}

.showDataIda {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showDataDD {
  display: flex;
  justify-content: center;
  height: 7vh;
  width: 100%;
  flex-direction: column;
}

.txtDestino {
  font-size: 1.2rem;
}

.txtDia {
  font-size: 16px;
  margin-top: -9px;
}

.showDataAD {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100%;
  gap: 2.5vw;
}

.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.directo {
  font-size: 0.8rem;
  color: #3C1642;
  margin-bottom: 2px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: rgb(155, 155, 155);;
  margin-bottom: 15px;
}

.showDuracion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerData {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}

.txtDuration {
  font-size: 0.8rem;
  color: #3C1642;
  margin-bottom: -9px;
}

.txtTime {
  font-size: 0.8rem;
}

.lineDiv{
  width: 225px;
  height: 2px;
  background-color: rgb(155, 155, 155);
}

.showDataVuelta{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}