.containerHeader{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    gap: 8vw;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6vh;
    width: 5vw;
    margin-left: 5rem; 
    font-family: 'Abhaya Libre', serif;
    font-size: 1.1rem;
}

.titulo h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line {
    display: inline-block; 
    width: 40px;           
    height: 2px;          
    background-color: #3C1642;
    margin: 0 8px;        
  }

.textAir{
    color: #3C1642;
}

.componentsHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componentsHeader ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    list-style: none;
}

.componentsHeader ul li{
    color: #3C1642;
}

.componentsHeader ul li:hover{
    color: #702a7a;
    cursor: pointer;
}